<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body">

<nav th:replace="~{main-layout :: navigator}"></nav>

<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>

<main>
    <div class="grid-container author-index">

        <a th:href="@{/author/index}" class="blue-button create-button">Back to Author Index</a>

        <table th:object="${authors}">
            <tr>
                <td>Name</td>
                <td th:text="*{fullName}"></td>
            </tr>
            <tr>
                <td>Birth Date</td>
                <td th:text="*{birthDate}"></td>
            </tr>
            <tr>
                <td>Decease Date</td>
                <td th:text="*{status}"></td>
            </tr>
            <tr>
                <td>Education</td>
                <td th:text="*{education}"></td>
            </tr>
            <tr>
                <td>Summary</td>
                <td th:text="*{summary}"></td>
            </tr>
        </table>
        <section>
            <table>
                <tbody>
                <tr>
                    <th>Book Title</th>
                    <th>Category</th>
                    <th>Is Borrowed</th>
                    <th>Release Date</th>
                    <th>Total Page</th>
                </tr>
                <tr th:each="book : ${books}">
                    <td th:text="${book.title}"></td>
                    <td th:text="${book.categoryName}"></td>
                    <td th:text="${book.isBorrowed}"></td>
                    <td th:text="${book.releaseDate}"></td>
                    <td th:text="${book.totalPage}"></td>

                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination">
                            <div th:text="|Page ${page} of ${totalPage}|"></div>
                            <div>
                                <a      th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                        th:href="@{/author/index(page=${pageLoop}, id=${id})}"
                                        th:text="${pageLoop}">
                                </a>
                            </div>
                        </div>
                    </td>
                </tfoot>
            </table>
        </section>
    </div>
</main>

<footer th:replace="~{main-layout :: footer}"></footer>

</body>
</html>