<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{main-layout :: navigator}"></nav>

<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>


<main>
    <div class="grid-container">

        <form th:action="@{/book/index(category = ${category})}" method="get" class="filter">
            <input type="text" name="category" placeholder="Category.." th:value="${category}">
            <button type="submit" class="blue-button">Search</button>
        </form>

        <a th:href="@{/book/upsert-form}" class="blue-button create-button">Insert New Category</a>

        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Category</th>
                    <th>Floor</th>
                    <th>Isle</th>
                    <th>Bay</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}">
                    <td>
                        <a th:href="@{/book/detail(category = ${category.id})}" class="blue-button">Book</a>
                        <a th:href="@{/book/upsert-form(id = ${category.id})}"
                           class="blue-button update-button">Edit</a>
                        <a th:href="@{/book/delete(id = ${category.id})}"
                           class="blue-button update-button">Delete</a>
                    </td>
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.floor}"></td>
                    <td th:text="${category.isle}"></td>
                    <td th:text="${category.bay}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <div class="pagination">
                            <div th:text="|Page ${page} of ${totalPage}|"></div>
                            <div>
                                <a th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                   th:href="@{/book/index(page=${pageLoop}, title=${title})}"
                                   th:text="${pageLoop}">
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>

<footer th:replace="~{main-layout :: footer}"></footer>
</body>
</html>