<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{main-layout :: navigator}"></nav>

<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>


<main>
    <div class="grid-container">

        <form th:action="@{/customer/index(id = ${id})}" method="GET" class="filter">
            <input type="text" name="id" placeholder="Membership number.." th:value="${id}">
            <input type="text" name="fullName" placeholder="Fullname.." th:value="${fullName}">
            <button type="submit" class="blue-button">Search</button>
        </form>

        <a th:href="@{/customer/upsert-form}" class="blue-button create-button">Add New Customer</a>

        <table>
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Membership Number</th>
                    <th>Full Name</th>
                    <th>Expired Date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td>
                        <a th:href="@{/customer/upsert-form(id = ${customer.id})}"
                           class="blue-button update-button">Edit</a>
                        <a th:href="@{/customer/delete(id = ${customer.id})}"
                           class="blue-button update-button">Delete</a>
                        <a th:href="@{/customer/extend(id = ${customer.id})}" class="blue-button">Extend</a>
                    </td>
                    <td>
                        <a th:href="@{/customer/detail(id = ${customer.id})}" class="blue-button" th:text="${customer.id}"></a>
                    </td>
                    <td th:text="${customer.fullName}"></td>
                    <td th:text="${customer.expiredDate}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <div class="pagination">
                            <div th:text="|Page ${page} of ${totalPage}|"></div>
                            <div>
                                <a      th:each="pageLoop : ${#numbers.sequence(1, (totalPage < 1) ? 1 : totalPage)}"
                                        th:href="@{/customer/index(page=${pageLoop}, id=${id}, fullName=${fullName})}"
                                        th:text="${pageLoop}">
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>

<footer th:replace="~{main-layout :: footer}"></footer>
</body>
</html>