<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{main-layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
<nav th:replace="~{main-layout :: navigator}"></nav>

<header th:replace="~{main-layout :: header(${breadCrumbs})}"></header>


<main>
    <div class="home-index">
        <h1>Winterhold Library</h1>
        <p>Knowledge is the best weapon you have, please</p>
        <p>find some fascinating books we have</p>
        <p>This app will help you do that, as long as you</p>
        <p>keep extend your membership!</p>
        <p>(its totally free!)</p>
    </div>

</main>

<footer th:replace="~{main-layout :: footer}"></footer>
</body>
</html>